In [1]:
import sys
print(sys.version)

import pandas as pd
import numpy as np

import geopandas as gpd
print(f'GeoPandas version:', gpd.__version__)

from shapely.geometry import Point, Polygon # gpd uses this for geometries
import pyproj # gpd uses pyproj for projections
import descartes #gpd using descartes to build areas with polygons

import folium
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

3.7.7 (default, Mar 23 2020, 17:31:31)
[Clang 4.0.1 (tags/RELEASE_401/final)]
GeoPandas version: 0.8.1

In [2]:
outp = pd.read_csv('./data/joined_outliers_p.csv')

In [3]:
print(outp.shape)
outp.head()

(16306, 30)

,Unnamed: 0,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,...,day_name,hour,price,month_name,day,geometry,index_right,zcta,bcode,note
0,3,id0753277,1,2016-01-27 22:29:00,2016-01-27 22:29:00,1,-74.209854,40.816853,-74.209854,40.816853,...,Wednesday,22,5.450000,January,27,POINT (-74.20985413 40.81685257),NaN,NaN,NaN,NaN
1,12,id1606138,2,2016-04-27 15:14:00,2016-04-27 15:15:00,2,-74.177780,40.690281,-74.177780,40.690281,...,Wednesday,15,5.116667,April,27,POINT (-74.17778015 40.69028091),NaN,NaN,NaN,NaN
2,21,id0688948,1,2016-04-14 20:13:00,2016-04-14 20:13:00,1,-74.161804,40.836494,-74.161804,40.836494,...,Thursday,20,5.250000,April,14,POINT (-74.16180420000001 40.83649445),NaN,NaN,NaN,NaN
3,36,id3535158,1,2016-02-11 18:57:00,2016-02-11 19:14:00,1,-73.735237,40.822712,-73.735237,40.822712,...,Thursday,18,21.666667,February,11,POINT (-73.73523711999999 40.82271194),NaN,NaN,NaN,NaN
4,50,id1436954,2,2016-04-25 13:18:00,2016-04-25 13:26:00,1,-73.966537,40.784092,-73.966537,40.784092,...,Monday,13,12.266667,April,25,POINT (-73.96653748 40.78409195),NaN,NaN,NaN,NaN

### Using Nominatim library to get the location coordinates of NYC

In [4]:
#finding the location coordinates of NYC region 

address = 'New York City, NY'
location = None

# define an instance of the geocoder -> ny_explorer
while location == None:
    try:
        geolocator = Nominatim(user_agent="ny_explorer")
        location = geolocator.geocode(address)
        latitude = location.latitude
        longitude = location.longitude
    except:
        pass
print('The geograpical coordinate of New York City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of New York City are 40.7127281, -74.0060152.

In [5]:
m = folium.Map(location=[40.7127281, -74.0060152], tiles = 'Stamen Toner', zoom_start = 11)

In [6]:
m

### Adding the outliers to the map

In [7]:
# for i in range(len(outp)):
#     folium.Circle(
#         location=[outp.iloc[i]['pickup_latitude'], outp.iloc[i]['pickup_longitude']],
#         radius=20,          
#     ).add_to(m)

In [8]:
# m

In [9]:
# m.save('outliers_pickup.html')

### Opening the inliers dataset

In [10]:
inp = pd.read_csv('./data/joined_inliers_p.csv')

In [14]:
print(inp.shape)
inp.head(5)

(1032162, 30)

,Unnamed: 0,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,...,day_name,hour,price,month_name,day,geometry,index_right,zcta,bcode,note
0,0,id3487442,2,2016-02-29 18:39:00,2016-02-29 18:42:00,1,-73.981819,40.768963,-73.981819,40.768963,...,Monday,18,8.783333,February,29,POINT (-73.98181915000001 40.76896286),23.0,10023,36061,NaN
1,1,id1145809,2,2016-05-16 23:15:00,2016-05-16 23:31:00,6,-73.808487,40.687336,-73.808487,40.687336,...,Monday,23,22.861667,May,16,POINT (-73.80848693999999 40.68733597),191.0,11419,36081,NaN
2,2,id3499387,1,2016-01-25 19:45:00,2016-01-25 19:54:00,1,-73.786720,40.647041,-73.786720,40.647041,...,Monday,19,14.666667,January,25,POINT (-73.78672028 40.64704132),202.0,11430,36081,NaN
3,4,id2134482,1,2016-01-22 16:13:00,2016-01-22 16:13:00,1,-73.776314,40.645454,-73.776314,40.645454,...,Friday,16,5.316667,January,22,POINT (-73.77631378 40.64545441),202.0,11430,36081,NaN
4,5,id2892749,1,2016-01-18 15:24:00,2016-01-18 15:28:00,5,-73.954666,40.821003,-73.954666,40.821003,...,Monday,15,10.156667,January,18,POINT (-73.95466614 40.82100296),34.0,10031,36061,NaN

In [15]:
# for i in range(len(inp)):
#     folium.Circle(
#         location=[inp.iloc[i]['pickup_latitude'], inp.iloc[i]['pickup_longitude']],
#         radius=20,  
#         fill_color='none'
#     ).add_to(m)

In [16]:
# m.save('inliers_pickup.html')

Saving the dataset in form of HTML.

### Approach

While this operation of plotting 1M+ locations is an expensive operation. I am simplyfying the method to finding the answer. 

1. I am going to subset the locations that lie within NYC boundary by quereing for the top - zcodes sorted in descending order of this spatial join dataset. 


2. Performing a reverse geocoding by using the Nominatim - API to map out the location for each of the location ( lat, long). I have done this process outside of this notebook and directly accessing the file here. 


3. Identifying unique values here and mapping out the top 20% of locations onto the interactive map.

### Mapping the subset of high density neighbourhoods using the Folium interactive library.

In [158]:
r_geodf = pd.read_csv('./data/5_reverse_geo_nominatim.csv')

In [159]:
r_geodf.head()
print(r_geodf.info())
# r_geodf['pickup_address']=r_geodf['pickup_address'].astype('str')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048468 entries, 0 to 1048467
Data columns (total 20 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Unnamed: 0         1048468 non-null  int64
 1   id                 1048468 non-null  object
 2   pickup_latitude    1048468 non-null  float64
 3   pickup_longitude   1048468 non-null  float64
 4   pickup_coordinate  1048468 non-null  object
 5   passenger_count    1048468 non-null  int64
 6   pickup_day         1048468 non-null  object
 7   pickup_time        1048468 non-null  object
 8   dropoff_day        1048468 non-null  object
 9   dropoff_time       1048468 non-null  object
 10  pickup_hour        1048468 non-null  int64
 11  dropoff_hour       1048468 non-null  int64
 12  geom               1048468 non-null  object
 13  pickup_address     1048460 non-null  object
 14  pincode            1048459 non-null  object
 15  geometry           1048468 non-null  object
 16  index_right        1032162 non-null  float64
 17  zcta               1032162 non-null  float64
 18  bcode              1032162 non-null  float64
 19  note               341 non-null      object
dtypes: float64(5), int64(4), object(11)
memory usage: 160.0+ MB
None

In [ ]:
r_geodf=r_geodf[['id','pickup_address','pickup_latitude','pickup_longitude','']]

In [167]:
add_df = r_geodf.groupby('pickup_address')['id'].agg(count='count').sort_values(by='count',ascending=False).reset_index()#by ='id'
add_df.dtypes

#otherworkings 
#Follow the above syntax as the below ones are deprecated.
# r_geodf = r_geodf.groupby(['pickup_address']).agg({'id':['size'],'pickup_latitude':['mean'],'pickup_longitude':[]'mean'}).sort_values(by='id',ascending=False) #by ='id'
# r_geodf_1 = r_geodf.groupby(['pickup_address']).agg(id_count=pd.NamedAgg(column='id',aggfunc='size'),mean_lat=pd.NamedAgg(column='pickup_latitude',aggfunc='mean'),mean_long=pd.NamedAgg(column='pickup_longitude',aggfunc='mean'))

pickup_address    object
count              int64
dtype: object

In [174]:
print(add_df.head(10))
add_df.shape # for 
print(add_df.info())
print(add_df.columns)

                                      pickup_address  count
0  Pennsylvania Station, 9th Avenue, Chelsea, Man...  17758
1  LaGuardia Airport, 27th Avenue, East Elmhurst,...  13279
2  John F. Kennedy International Airport, Pan Am ...  11723
3  Queens, Queens County, New York, 11369, United...   8934
4  Grand Central Terminal, Depew Place, Midtown E...   8163
5  42nd Street–Times Square–Port Authority Bus Te...   6086
6  Queens, Queens County, New York, 11430, United...   4243
7  Rockefeller Center, 45, Rockefeller Plaza, Mid...   4225
8  34th Street–Herald Square, West 31st Street, K...   3396
9  New York University, West 9th Street, Greenwic...   2846
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pickup_address  10000 non-null  object
 1   count           10000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 156.4+ KB
None
Index(['pickup_address', 'count'], dtype='object')

In [189]:
#subsetting top 5% of this dataset which will come to about ~ 5,000 locations/areas.

add_df = add_df.iloc[0:5000]
add_df.to_csv('./data/potential_locations.csv', index=False)

### Getting the lat and long coordinates via Nominatim geocode api.

In [176]:
# combined_add_geo = add_df.join(r_geodf, how='left', on ='pickup_address' )


# #.rename(columns = {'Y': 'Yes', 'N': 'No','q9_if_yes':'Price per mile'}, inplace = False)
# # print(t_combined.head())
# # t_combined.sort_values(by='Price per mile',ascending=False).head(20)

In [177]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

In [178]:
#creating a service provider geolocator this time pass timeput to be 10minutes since we have many rows. To 
#prevent any timeout errors that we might encounter during this process

from geopy.extra.rate_limiter import RateLimiter
geolocator = Nominatim(user_agent='test_app', timeout=10)
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=0.001)

In [182]:
import tqdm
from tqdm.notebook import tqdm_notebook

In [183]:
# Add a column for the geocodes. Use the geolocator to populate the geocodes for each address.
# Extract latitude and longitude to their own columns.
#Extract latitude and longitude to their own columns.

tqdm_notebook.pandas(desc="my bar!")
add_df['gcode'] = add_df['pickup_address'].progress_apply(geocode)
add_df['lat'] = [g.latitude for g in add_df.gcode]
add_df['long'] = [g.longitude for g in add_df.gcode]

df.head()

my bar!:   0%|          | 0/5000 [00:00<?, ?it/s]

/usr/local/anaconda3/envs/newenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

AttributeError: 'NoneType' object has no attribute 'latitude'

### Mapping the above with cluster markers object on Folium

In [184]:
add_df_new = add_df

In [187]:
add_df_new.shape
add_df_new.head(5)

,pickup_address,count,gcode
0,"Pennsylvania Station, 9th Avenue, Chelsea, Man...",17758,None
1,"LaGuardia Airport, 27th Avenue, East Elmhurst,...",13279,"(LaGuardia Airport, 27th Avenue, East Elmhurst..."
2,"John F. Kennedy International Airport, Pan Am ...",11723,"(John F. Kennedy International Airport, Pan Am..."
3,"Queens, Queens County, New York, 11369, United...",8934,"(Queens, Queens County, New York, United State..."
4,"Grand Central Terminal, Depew Place, Midtown E...",8163,"(Grand Central Terminal, Depew Place, Manhatta..."

## Other approaches to proceed with after solving for the above.

# Reference: https://towardsdatascience.com/mapping-messy-addresses-part-2-insights-from-folium-bafd55858faf


# define centre of map
TOR_COORDINATES = (df['latitude'].mean(), df['longitude'].mean())
 
# subset to match subset of locations
MAX_RECORDS = 2500
  
# create empty map zoomed in on Toronto
map_tor = folium.Map(location=TOR_COORDINATES, zoom_start=12)

mc = MarkerCluster()

# iterate through dataset to create clusters

for row in df[0:MAX_RECORDS].itertuples():
    mc.add_child(folium.Marker(location=[row.latitude,  row.longitude],
                 popup=row.Location))

map_tor.add_child(mc)
display(map_tor)

 
# subset to match subset of locations
MAX_RECORDS = 60000
  
# define heat map

HeatMap(data=df[['latitude', 'longitude', 'Min Delay']].groupby(['latitude', 'longitude']).sum().reset_index().values.tolist(), radius=8, max_zoom=13).add_to(map_tor)


display(map_tor)